:root {
   --cor1: #000;
   --cor2: #fff;
   --cor3: #aaa;
}

/* _________________________ */

input {
      width: 7%;
}

h1 {
   background-color: var(--cor1);
   padding: 3px;
   border-radius: 3px;
   color: var(--cor2);
   text-align: center;
}

h2 {
   background-color: var(--cor1);
   color: var(--cor3);
   padding: 5px;
   border-radius: 3px;
}

article {
   box-shadow: 3px 3px 3px #00000033;
   padding: 7px;
   border-radius: 3px;
   background-color: var(--cor2);
   margin: 3%;
}

main {
   width: 80%;
   margin: auto;
   background-color: var(--cor2);
   padding: 5px;
   border-radius: 3px;
}

body {
   background-color: var(--cor1);
}

#code {
   width: 90%;
   margin: auto;
}

button {
   background-color: var(--cor2);
   color: var(--cor1);
}

button:hover {
   background-color: var(--cor1);
   color: var(--cor2);
}
