:root {
   --cor1: #88e;
   --cor2: #335;
   --cor3: #66c;
   --cor4: #fbf;
}

input {
      width: 7%;
}

h1 {
      background-color: var(--cor3);
      padding: 3px;
      border-radius: 3px;
      color: var(--cor4);
      text-align: center;
   }

   h2 {
      background-color: var(--cor1);
      padding: 5px;
      border-radius: 3px;
   }

   article {
      box-shadow: 3px 3px 3px #00000033;
      padding: 7px;
      border-radius: 3px;
      background-color: #fff;
      margin: 3%;
   }

   main {
      width: 80%;
      margin: auto;
      background-color: #fff;
      padding: 5px;
      border-radius: 3px;
   }

   body {
      background-color: var(--cor2);
   }

   #code {
      width: 90%;
      margin: auto;
   }